<a href="https://colab.research.google.com/github/ViniiCh4g4s/AnimaCursoExtensaoPython2023-1/blob/main/aula3-2023-02-08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# importando biblioteca pandas no Python
import pandas as pd

combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

# Novo dataframe com colunas específicas
ca_df = combustiveis_df[['Estado - Sigla', 'Municipio', 'Revenda', 'Produto', 'Valor de Venda']]

# Somente Produto = gasolina
gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']

In [45]:
# Usamos DataFrame.loc[] para criar filtros específicos.

etn_city = ca_df.loc[(ca_df['Produto'] == 'ETANOL') & (ca_df['Municipio'] == 'SAO PAULO')]
display(etn_city.sort_values(by='Valor de Venda'))

,Estado - Sigla,Municipio,Revenda,Produto,Valor de Venda
145884,SP,SAO PAULO,AUTO POSTO LORENS EIRELI,ETANOL,4.389
151887,SP,SAO PAULO,NOVA LAREDO AUTO POSTO LTDA,ETANOL,4.399
154544,SP,SAO PAULO,AUTO POSTO PACIFIC I LTDA,ETANOL,4.399
117589,SP,SAO PAULO,AUTO POSTO ARTICO LTDA,ETANOL,4.399
144504,SP,SAO PAULO,AUTO POSTO VILA RE LTDA,ETANOL,4.399
...,...,...,...,...,...
43710,SP,SAO PAULO,CENTRO AUTOMOTIVO ARCO DO TRIUNFO LTDA.,ETANOL,6.199
63275,SP,SAO PAULO,CENTRO AUTOMOTIVO ARCO DO TRIUNFO LTDA.,ETANOL,6.199
35666,SP,SAO PAULO,CENTRO AUTOMOTIVO ARCO DO TRIUNFO LTDA.,ETANOL,6.199
77206,SP,SAO PAULO,CENTRO AUTOMOTIVO ARCO DO TRIUNFO LTDA.,ETANOL,6.199
11605,SP,SAO PAULO,CENTRO AUTOMOTIVO ARCO DO TRIUNFO LTDA.,ETANOL,6.199

In [22]:
# Busca média de preços da gasolina no bairro X da cidade de SÃO PAULO
display(combustiveis_df.loc[(combustiveis_df['Bairro'] == 'LIBERDADE') & 
                            (combustiveis_df['Municipio'] == 'SAO PAULO') & 
                            ((combustiveis_df['Produto'] == 'GASOLINA') | 
                             (combustiveis_df['Produto'] == 'GASOLINA ADITIVADA')), 
                            ['Valor de Venda']].mean())

Valor de Venda    6.575596
dtype: float64

In [30]:
# groupby = agrupa produtos;
# mean = descobrir a média;
# round(x) = casas depois do ponto; 
# -----------------------------------------------------------------------------

# Média de valor de venda por combustível Brasil todo.
by_combustivel = ca_df[['Produto', 'Valor de Venda']].groupby(by='Produto').mean().round(2)

display(by_combustivel)

                    Valor de Venda
Produto
DIESEL                        5.38
DIESEL S10                    5.45
ETANOL                        5.46
GASOLINA                      6.71
GASOLINA ADITIVADA            6.86
GNV                           4.39

In [31]:
#Adiciona coluna tipo bool no Dataframe combustiveis_df com valor True

combustiveis_df ['Ativo'] = True

print(combustiveis_df.info())
display(combustiveis_df.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
 16  Ativo              168409 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), object(13)
memory usage: 20.7+ MB
None

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True

In [44]:

display(combustiveis_df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True,
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True,
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True,
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True,
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168404,NE,BA,JEQUIE,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,28.629.089/0001-79,AVENIDA T LOT JD TROPICAL,53,NaN,TROPICAL,45209-130,ETANOL,2021-12-31,5.859,NaN,R$ / litro,PETROSERRA,True,
168405,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA,2021-12-31,6.580,NaN,R$ / litro,BRANCA,True,
168406,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,ETANOL,2021-12-31,4.740,NaN,R$ / litro,BRANCA,True,
168407,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,DIESEL S10,2021-12-31,5.448,NaN,R$ / litro,BRANCA,True,
168408,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA ADITIVADA,2021-12-31,6.580,NaN,R$ / litro,BRANCA,True,

In [46]:
# Exportar para Excel o dataframe com etanol em SP 
etn_city.to_excel('etanol_sao_paulo.xlsx', sheet_name='Etanol em São Paulo', index=False)