<a href="https://colab.research.google.com/github/ViniiCh4g4s/AnimaCursoExtensaoPython2023-1/blob/main/aula4-2023-02-09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importando biblioteca pandas no Python
import pandas as pd

combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [31]:
# Adicionando uma nova coluna
combustiveis_df['Ativo'] = True

display(combustiveis_df.head(3))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,Valor de Venda - Status
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True,,Inacessível
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True,,Acessível
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True,,Acessível

In [32]:
# Adiciona coluna 'Obs' que contenha "MELHOR CIDADE" quando a coluna `Municipio` = SAO PAULO
combustiveis_df['Obs'] = ["MELHOR CIDADE" if Municipio == 'SAO PAULO' else '' for Municipio in combustiveis_df['Municipio']]
display(combustiveis_df.loc[combustiveis_df['Municipio'].isin(['SAO PAULO', 'INDAIATUBA', 'CAMPINAS', 'SALTO']), ['Municipio', 'Obs']])

        Municipio            Obs
1601    SAO PAULO  MELHOR CIDADE
1602    SAO PAULO  MELHOR CIDADE
1603    SAO PAULO  MELHOR CIDADE
1604    SAO PAULO  MELHOR CIDADE
2607     CAMPINAS
...           ...            ...
165925  SAO PAULO  MELHOR CIDADE
165926  SAO PAULO  MELHOR CIDADE
166122  SAO PAULO  MELHOR CIDADE
166123  SAO PAULO  MELHOR CIDADE
166124  SAO PAULO  MELHOR CIDADE

[7742 rows x 2 columns]

In [33]:
# Se o valor de venda > 6,5 reais, retorna "Valor inacessível", caso contrário, "Valor acessível"
import numpy as np

combustiveis_df['Valor de Venda - Status'] = np.where(combustiveis_df['Valor de Venda'] > 6.5, 'Inacessível', 'Acessível')
display(combustiveis_df[['Revenda', "Valor de Venda", 'Valor de Venda - Status']])

,Revenda,Valor de Venda,Valor de Venda - Status
0,POSTO ARAPIRACA LTDA,6.799,Inacessível
1,POSTO ARAPIRACA LTDA,5.299,Acessível
2,POSTO ARAPIRACA LTDA,5.549,Acessível
3,POSTO ARAPIRACA LTDA,6.899,Inacessível
4,POSTO ARAPIRACA LTDA,5.649,Acessível
...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,5.859,Acessível
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Inacessível
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,4.740,Acessível
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,5.448,Acessível
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Inacessível

In [34]:
# Calcula os Postos por habitante.

num_habitantes = pd.read_csv('ibge_num_habitantes_estimado.csv', sep=";")
num_habitantes.rename(columns={"Estado":"Estado - Sigla"}, inplace=True)
display(num_habitantes)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [35]:
# Realizar um MERGE dos dois dataframes
colunas = ['Municipio', 'Estado - Sigla']
merge_df = combustiveis_df.merge(num_habitantes, how="inner", on=colunas)
display(merge_df)
print(merge_df.info())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,Valor de Venda - Status,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,,Inacessível,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,,Acessível,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,,Inacessível,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,,Inacessível,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,,Acessível,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,GASOLINA,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,True,,Acessível,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,DIESEL S10,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,True,,Acessível,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA ADITIVADA,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,True,,Inacessível,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,ETANOL,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,True,,Acessível,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,True,,Acessível,260690

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Regiao - Sigla           20634 non-null  object
 1   Estado - Sigla           20634 non-null  object
 2   Municipio                20634 non-null  object
 3   Revenda                  20634 non-null  object
 4   CNPJ da Revenda          20634 non-null  object
 5   Nome da Rua              20634 non-null  object
 6   Numero Rua               20634 non-null  object
 7   Complemento              3837 non-null   object
 8   Bairro                   20634 non-null  object
 9   Cep                      20634 non-null  object
 10  Produto                  20634 non-null  object
 11  Data da Coleta           20634 non-null  datetime64[ns]
 12  Valor de Venda           20634 non-null  float64
 13  Valor de Compra          0 non-null      float64
 14  Unidade de Medida        20634 non-null  object
 15  Bandeira                 20634 non-null  object
 16  Ativo                    20634 non-null  bool
 17  Obs                      20634 non-null  object
 18  Valor de Venda - Status  20634 non-null  object
 19  NumHabitantes2021        20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(15)
memory usage: 3.2+ MB
None

In [38]:
# limpar colunas nulas

merge_df.dropna(axis='columns', inplace=True)

print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Regiao - Sigla           20634 non-null  object
 1   Estado - Sigla           20634 non-null  object
 2   Municipio                20634 non-null  object
 3   Revenda                  20634 non-null  object
 4   CNPJ da Revenda          20634 non-null  object
 5   Nome da Rua              20634 non-null  object
 6   Numero Rua               20634 non-null  object
 7   Bairro                   20634 non-null  object
 8   Cep                      20634 non-null  object
 9   Produto                  20634 non-null  object
 10  Data da Coleta           20634 non-null  datetime64[ns]
 11  Valor de Venda           20634 non-null  float64
 12  Unidade de Medida        20634 non-null  object
 13  Bandeira                 20634 non-null  object
 14  Ativo                    20634 non-null  bool
 15  Obs                      20634 non-null  object
 16  Valor de Venda - Status  20634 non-null  object
 17  NumHabitantes2021        20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 2.9+ MB
None

In [46]:
colunas=['Regiao - Sigla', 'Nome da Rua', 'Numero Rua', 
         'Bairro', 'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda',
         'Unidade de Medida', 'Bandeira', 'Ativo', 'Valor de Venda - Status']
merge_df.drop( labels=colunas, axis=1, inplace=True)

print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estado - Sigla     20634 non-null  object
 1   Municipio          20634 non-null  object
 2   Revenda            20634 non-null  object
 3   CNPJ da Revenda    20634 non-null  object
 4   Obs                20634 non-null  object
 5   NumHabitantes2021  20634 non-null  int64
dtypes: int64(1), object(5)
memory usage: 1.1+ MB
None

In [47]:
# Remove linhas duplicadas
merge_df.drop_duplicates(inplace=True)

display(merge_df.head(100))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Obs,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,,1555626
7,GO,GOIANIA,POSTO DN LTDA,05.413.136/0001-47,,1555626
11,GO,GOIANIA,POSTO ALDEIA LTDA,04.896.662/0001-42,,1555626
15,GO,GOIANIA,AUTO POSTO SANTA LUZIA LTDA,04.142.631/0001-04,,1555626
...,...,...,...,...,...,...
1677,RJ,RIO DE JANEIRO,POSTO SANTA CLARA DA PAVUNA II LTDA,06.955.648/0001-06,,6775561
1682,RJ,RIO DE JANEIRO,POSTO SANTA CLARA DA PAVUNA LTDA,03.246.347/0001-07,,6775561
1688,RJ,RIO DE JANEIRO,NOVA PARADINHA AUTO POSTO LTDA,07.594.094/0001-13,,6775561
1694,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA PENHA LTDA.,07.035.006/0001-43,,6775561
1699,RJ,RIO DE JANEIRO,AUTO POSTO FUTURO GNV DE BONSUCESSO LTDA,05.037.349/0001-11,,6775561

In [49]:
# Agrupa e conta quantos postos tem por município

postos_by_municipios = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_by_municipios.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_by_municipios.rename({'Revenda': 'Número de Postos'}, inplace=True)
display(postos_by_municipios)

                                                 Revenda  Obs
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                  44   44
GO             GOIANIA        1555626                 93   93
MG             BELO HORIZONTE 2530701                 54   54
MS             CAMPO GRANDE   916001                 104  104
PR             CURITIBA       1963726                110  110
RJ             RIO DE JANEIRO 6775561                379  379
RN             NATAL          803739                  37   37
RO             PORTO VELHO    548952                  40   40
RS             PORTO ALEGRE   1492530                 73   73
SP             CAMPINAS       1223237                 51   51
               INDAIATUBA     260690                  36   36
               SANTOS         433991                  36   36
               SAO PAULO      12396372               429  429
               SAO VICENTE    370839                  20   20
TO             PALMAS         313349                  26   26